:root {
    --primary-color:  #34fcfc;
    --secondary-color: #ec23ec;
    --primary-font: "Exo 2", serif;
    --secondary-font: "Teko", serif;
    --other-color: #000000;
    --other2-color:#C0C0C0;
    --other-font: "Merriweather", serif;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
}

body {
    overflow-x: hidden;
    background: url('../img/fondSite.jpg') no-repeat center center fixed;
    background-size: cover;
    
}



body {
    animation: fadeIn 1.5s ease-in-out;
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  
header {
    position: fixed;
    width: 100%;  
    height: 15%;  
    background: rgba(0, 0, 0, 0.7);
    z-index: 5;
    transition: background 0.5s ease-in-out;
    
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 5%;
    max-width: 1400px;
    margin: 0 auto;
}

#logo {
    display: flex;
    align-items: center;
    gap: 10px;
    
}

.logoP{

    width: 100px;
}



nav ul {
    display: flex;
    gap: 2rem;
    align-items: center;
}

nav ul li a {
    color: #e5e5e5;
    font-weight: 500;
    font-family: var(--primary-font);
    padding: 0.5rem 1rem;
    border-radius: 20px;
    transition: all 0.3s ease;
    position: relative;
    font-size: 20px;
}
/*Underline effect*/
nav ul li a::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background: #34fcfc;
    transition: width 0.3s ease;
}
/*Underline effect*/
nav ul li a:hover::after {
    width: 70%;
}
/*Underline effect*/
nav ul li a:hover {
    color: var(--primary-color);
}
nav ul li{
    list-style: none;
}

/* Section principale */
.hero-section {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 95vh;
    flex-direction: column;
}

.hero-pic {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    overflow: hidden;
    border: 8px solid var(--primary-color);
    box-shadow: 5px 7px 25px rgba(0, 0, 0, 0.5);
    z-index: 10;
}

.hero-pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
}

.hero-pic img:hover {
    transform: scale(1.1);
}

.hero-text {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

h1 {
    font-size: 20px;
    font-family: var(--other-font);
    color:var(--secondary-color);
}

h2 {
    color: var(--secondary-color);
    font-size: 3rem;
    font-family: var(--primary-font);
}

p{
    font-size: 20px;
    font-family: var(--other-font);
    color: #ffffff;
}

.btn-group {
    margin: 45px 0;
}

.btn {
    border: 2px solid #e5e5e5;
    color: #fff;
    background-color: #333;
    padding: 12px 25px;
    margin: 5px;
    border-radius: 30px;
    box-shadow: 0 10px 10px -8px rgba(0, 0, 0, 0.78);
    border-color:var(--primary-color);
}

.btn.active {
    border-color:var(--primary-color);
}

.social a {
    margin: 0 10px;
    color:var(--primary-color);
    font-size: 22px;
    transition: 0.5s;
    font-family: var(--primary-font);
    transition: all 0.3s ease-in-out;
    filter: drop-shadow(0px 0px 10px #34fcfc);
}

.social a:hover {
    color: #007ced;
    
}
footer{
    display: flex;
    justify-content: center;
}

/* Responsive */
@media (max-width: 768px) {
    main {
        margin-top: 80px;
        padding-top: 20px; 
    }
    
    header {
        position: fixed;
        top: 0;
        width: 100%;
        height: 100px; 
        z-index: 1000; 
    }
    
    .hero-section {
        padding: 20px;
        min-height: auto;
    }
    
    .hero-pic {
        width: 200px; 
        height: 200px;
    }

    h1 {
        font-size: 15px; 
    }

    h2 {
        font-size: 20px;
    }
    p {
        font-size: 15px; 
    }

    .btn-group {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .btn {
        width: 100%;
        text-align: center;
        padding: 10px;
    }
}


/* Style de base pour le menu déroulant */
ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

li {
    position: relative;
}



/* Le menu déroulant */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(34, 34, 34, 0.9);
    min-width: 160px;
    z-index: 1;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    padding: 0.5rem;
    border-radius: 5px;
}

.dropdown .dropbtn {
    color: #e5e5e5;
    font-family: var(--primary-font);
    font-weight: 500;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    text-decoration: none;
    transition: color 0.3s ease;
}

.dropdown .dropbtn:hover {
    color: var(--primary-color);
}

.dropdown-content li {
    margin: 5;
}

.dropdown-content li a {
    color: #e5e5e5;
    font-family: var(--primary-font);
    padding: 0.5rem;
    text-decoration: none;
    display: block;
}

.dropdown-content li a:hover {
    background-color:var(--primary-color);
    color: #333;
}

/* Afficher le sous-menu quand la souris survole Portfolio*/
.dropdown:hover .dropdown-content {
    display: block;
}

/* Partie experience html*/

.bodyExperience {
    overflow-x: hidden;

    /* Dégradé de base */
    background: linear-gradient(90deg, rgba(9,5,99,1) 0%, rgba(47,52,162,1) 53%, rgba(0,165,172,1) 100%);

    /* Superposition du motif hexagonal */
    background-image: 
        linear-gradient(90deg, rgba(9,5,99,0.9) 0%, rgba(47,52,162,0.9) 53%, rgba(0,165,172,0.9) 100%),
        url('https://www.transparenttextures.com/patterns/hexellence.png'); /* Motif hexagonal */

    background-size: cover, 150px 150px; /* Taille du motif */
    background-blend-mode: overlay; /* Mélange du motif et du dégradé */

    color: #e5e5e5;
}


.hero-pic2 {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    overflow: hidden;
    border: 8px solid var(--other-color);
    box-shadow: 5px 7px 25px rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.hero-pic2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
}

.hero-pic2 img:hover {
    transform: scale(1.1);
}

.hero-section2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 95vh;
    padding: 30px;
    
    
    
}

.hero-text2 p{

    font-size: 20px;
    font-family: var(--other-font);
    background: rgba(0, 0, 0, 0.7);
    border: 5px solid var(--other-color);
    border-radius: 15px; 
    max-width: 800px;
    padding: 20px; 
    width: 100%; /* Assure que le paragraphe occupe tout l'espace du bloc */
    word-wrap: break-word; /* Coupe les mots si besoin */
    overflow-wrap: break-word; /* Assure la coupure si nécessaire */
    white-space: normal; /* Permet aux phrases de revenir à la ligne */
    line-height: 1.8;
}

.hero-section3 {
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row-reverse;
    min-height: 95vh;
    padding: 30px;
   
    
    
}

.hero-text3 p{

    
    background: rgba(0, 0, 0, 0.7);
    border: 5px solid  var(--other-color);
    border-radius: 15px; 
    max-width: 800px;
    padding: 20px; 
    width: 100%; /* Assure que le paragraphe occupe tout l'espace du bloc */
    word-wrap: break-word; /* Coupe les mots si besoin */
    overflow-wrap: break-word; /* Assure la coupure si nécessaire */
    white-space: normal; /* Permet aux phrases de revenir à la ligne */
    line-height: 1.8;
}

@media (max-width: 768px) {

    .hero-section2, .hero-section3 {
        flex-direction: column;
        text-align: center;
        padding: 20px;
    }

    .hero-pic2 {
        width: 200px;
        height: 200px;
    }
}

/*Page contact*/


body.contact-page {
    overflow-x: hidden;
    background: url('../img/fondSite.jpg') no-repeat center center fixed;
    background-size: cover;
    animation: fadeIn 1.5s ease-in-out;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.contact-page .block {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 95vh;
}

.contact-page .form-container {
    background: rgba(0, 0, 0, 0.7);
    border: 5px solid var(--other-color);
    border-radius: 8px; 
    max-width: 500px;
    padding: 20px; 
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin-top: 150px;
}

.contact-page h2 {
    color: #ffffff;
    font-family: var(--primary-font);
}

.contact-page label {
    color: #ffffff;
    font-family: var(--other-font);
}

.contact-page input, .contact-page textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid var(--primary-color);
    background: rgba(255, 255, 255, 0.1);
    color: #ffffff;
    font-family: var(--other-font);
}

.contact-page button {
    border: 2px solid var(--primary-color);
    color: #fff;
    background-color: #333;
    padding: 12px 25px;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.contact-page button:hover {
    background-color: var(--primary-color);
}


@media (max-width: 768px) {

    .block{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .text {
        width: 90%;
        max-width: none;
       
    }

    .text p {
        font-size: 18px; 
        text-align: center;
    }

    .text a {
        display: block; 
        text-align: center;
        margin-bottom: 10px;
    }
    
}

/*Page project*/

.bodyProject {
    overflow-x: hidden;

    /* Dégradé de base */
    background: linear-gradient(90deg, rgba(9,5,99,1) 0%, rgba(47,52,162,1) 53%, rgba(0,165,172,1) 100%);

    /* Superposition du motif hexagonal */
    background-image: 
        linear-gradient(90deg, rgba(9,5,99,0.9) 0%, rgba(47,52,162,0.9) 53%, rgba(0,165,172,0.9) 100%),
        url('https://www.transparenttextures.com/patterns/hexellence.png'); /* Motif hexagonal */

    background-size: cover, 150px 150px; /* Taille du motif */
    background-blend-mode: overlay; /* Mélange du motif et du dégradé */

    color: #e5e5e5;
}

.mainProject {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
}

.content {
    display: flex;
    width: 80%;
    max-width: 1200px;
    justify-content: space-between;
    gap: 2rem;
}

.project-display {
    
    
    max-width: 800px;
    padding: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#project-details {
    width: 600px;  
    height: 200px;  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    
}

#project-details h1 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
    color:#e5e5e5;
}

#project-details p {
    font-size: 1rem;
    color: #e5e5e5;
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    background: rgba(0, 0, 0, 0.7);
    padding: 1.5rem;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.menu-item {
    background: none;
    color: #e5e5e5;
    font-size: 1.2em;
    font-weight: bold;
    border: none;
    padding: 10px;
    cursor: pointer;
    position: relative;
    transition: color 0.3s ease;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: var(--primary-font);
}

.menu-item::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background-color: var(--primary-color);
    transition: width 0.3s ease;
}

.menu-item:hover {
    color: var(--primary-color);
}

.menu-item:hover::after {
    width: 100%;
}

.project-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    text-align: center;
    animation: fadeIn 1.5s ease-in-out;
}

.Portfolio-title {
    color: #ffffff;
    font-family: var(--other-font);
    font-size: 30px;
    
}


.Poulailler-title {
    color: #ffffff;
    font-family: var(--other-font);
    font-size: 30px;
    
}

.Potoo-title {
    color: #ffffff;
    font-family: var(--other-font);
    font-size: 30px;
    
}

.Portfolio-image {
    width: 110%;
    
    border-radius: 15px;
    
}
.Poulailler-image {
    width: 50%;
    
    border-radius: 20px;
}

.Potoo-image {
    width: 80%;
    
    border-radius: 15px;
}

@media (max-width: 768px) {

    .mainProject{
        flex-direction: column;
        padding: 20px;
    }

    .content {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    
    .menu {
        display: flex;
        flex-direction: column; 
        padding: 10px 0;
    }
    .menu-item {
        font-size: 14px; 
        padding: 8px 12px; 
        width: 80%; 
        text-align: center;
    }

    .menu-item img {
        width: 30px; 
        height: auto;
    }

    .project-display {
        width: 100%;
    }

    #project-details {
        width: 100%;
        padding: 10px;
    }

    .Poulailler-title{
        margin-top: 100px;
    }
    .Portfolio-image{
        width: 100%;
    }
    .Poulailler-image{
        width: 50%; 
    }
    .Potoo-image {
        width: 50%; 
    }
}

  


