:root {
    --primary-color:  #34fcfc;;
    --secondary-color: #ec23ec;
    --primary-font: "Exo 2", serif;
    --secondary-font: "Teko", serif;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
}

body {
    overflow-x: hidden;
    background: url('../img/fondSite.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #e5e5e5;
}

body {
    
    
    color: #e5e5e5;
}

header {
    position: fixed;
    width: 100%;  
    height: 15%;  
    background: rgba(34, 34, 34, 0.7);
    z-index: 5;
    
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 5%;
    max-width: 1400px;
    margin: 0 auto;
}

#logo {
    display: flex;
    align-items: center;
    gap: 10px;
    
}

.logoP{

    width: 100px;
}



nav ul {
    display: flex;
    gap: 2rem;
    align-items: center;
}

nav ul li a {
    color: #e5e5e5;
    font-weight: 500;
    font-family: var(--primary-font);
    padding: 0.5rem 1rem;
    border-radius: 20px;
    transition: all 0.3s ease;
    position: relative;
}
/*Underline effect*/
nav ul li a::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background: #34fcfc;
    transition: width 0.3s ease;
}
/*Underline effect*/
nav ul li a:hover::after {
    width: 70%;
}
/*Underline effect*/
nav ul li a:hover {
    color: #34fcfc;
}
nav ul li{
    list-style: none;
}

/* Section principale */
.hero-section {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 95vh;
    flex-direction: column;
}

.hero-pic {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    overflow: hidden;
    border: 15px solid  #34fcfc;
    box-shadow: 5px 7px 25px rgba(0, 0, 0, 0.5);
    z-index: 10;
}

.hero-pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
}

.hero-pic img:hover {
    transform: scale(1.1);
}

.hero-text {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

h1 {
    font-size: 20px;
    font-family: var(--secondary-font);
    color: #ec23ec;
}

h2 {
    color: #ec23ec;
    font-size: 3rem;
    font-family: var(--primary-font);
}

p{
    font-size: 20px;
    font-family: var(--secondary-font);
    color: #ffffff;
}

.btn-group {
    margin: 45px 0;
}

.btn {
    border: 2px solid #e5e5e5;
    color: #fff;
    background-color: #333;
    padding: 12px 25px;
    margin: 5px;
    border-radius: 30px;
    box-shadow: 0 10px 10px -8px rgba(0, 0, 0, 0.78);
    border-color: #34fcfc;
}

.btn.active {
    border-color: #34fcfc;
}

.social a {
    margin: 0 10px;
    color: #e5e5e5;
    font-size: 18px;
    transition: 0.5s;
    font-family: var(--primary-font);
}

.social a:hover {
    color: #007ced;
    
}
footer{
    display: flex;
    justify-content: center;
}

/* Responsive */
@media (max-width: 768px) {
    nav {
        padding: 1rem 20px;
        display: flex;
        flex-direction: column;
        font-size: 2.5vw;
    }


    nav ul {
        gap: 1rem;
        display: flex;
        flex-direction: column;
    }
    li{
        list-style: none;
    }
    .logo-text{
        font-size: 4vw;
    }
}

/* Style de base pour le menu déroulant */
ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

li {
    position: relative;
}



/* Le menu déroulant */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(34, 34, 34, 0.9);
    min-width: 160px;
    z-index: 1;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    padding: 0.5rem;
    border-radius: 5px;
}

.dropdown .dropbtn {
    color: #e5e5e5;
    font-family: var(--primary-font);
    font-weight: 500;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    text-decoration: none;
    transition: color 0.3s ease;
}

.dropdown .dropbtn:hover {
    color: #34fcfc;
}

.dropdown-content li {
    margin: 5;
}

.dropdown-content li a {
    color: #e5e5e5;
    font-family: var(--primary-font);
    padding: 0.5rem;
    text-decoration: none;
    display: block;
}

.dropdown-content li a:hover {
    background-color: #34fcfc;
    color: #333;
}

/* Afficher le sous-menu quand la souris survole "Portfolio" */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Partie experience html*/


.hero-section2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 95vh;
    padding: 30px;
    
    border-bottom: 2px solid #ccc; /* Fine bordure grise entre chaque section */
    
}

.hero-text2 p{

    
    background: rgba(34, 34, 34, 0.7);
    border: 5px solid  #ec23ec;
    border-radius: 8px; 
    max-width: 800px;
    padding: 20px; 
    width: 100%; /* Assure que le paragraphe occupe tout l'espace du bloc */
    word-wrap: break-word; /* Coupe les mots si besoin */
    overflow-wrap: break-word; /* Assure la coupure si nécessaire */
    white-space: normal; /* Permet aux phrases de revenir à la ligne */
}

.hero-section3 {
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row-reverse;
    min-height: 95vh;
    padding: 30px;
   
    border-bottom: 2px solid #ccc; /* Fine bordure grise entre chaque section */
    
}

.hero-text3 p{

    
    background: rgba(34, 34, 34, 0.7);
    border: 5px solid  #ec23ec;
    border-radius: 8px; 
    max-width: 800px;
    padding: 20px; 
    width: 100%; /* Assure que le paragraphe occupe tout l'espace du bloc */
    word-wrap: break-word; /* Coupe les mots si besoin */
    overflow-wrap: break-word; /* Assure la coupure si nécessaire */
    white-space: normal; /* Permet aux phrases de revenir à la ligne */
}
